<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <title>DashBoard</title>
</head>
<body>
	<div th:replace="fragments/AdminHeader :: AdminHeader"></div>
		
		<div class="jumbotron text-center">
		    <h1 class="display-4">Welcome back, Admin</h1>
		    <p>Easily manage your data from this admin <mark>CMS</mark></p>
		</div>
		

    
		        
		<div class="container-fluid">
			<div class="col border d-flex flex-md-row   shadow py-3" style="background-color: rgb(0,104,185);" >
				<p class="col-md-11 m-0 pl-5 pt-2" style="font-size:31px; font-weight:800; color:#fff;">Customer Statistics</p>
			<a class="col-md-1 btn btn-dark h-100" href="/admin/customer">Manage</a>

			</div>
		    <div class="row">
		        <div class="col-sm-4 pt-3" >
		            <div class="card" style="background-color:white;">
		                <div class="card-body shadow  border boreder-dark d-flex flex-md-column justify-content-center align-items-center">
		                    <h4 class="card-title col-md-12 text-center" style="font-size: 20px;font-weight: 500;">Total Customers</h4>

		                    <p class="card-text col-md-6 text-center" th:text="${total_customers}" style="font-size: 34px;font-weight: 800;">0</p>

		                </div>
		            </div>
		        </div>

		        <div class="col-sm-4 pt-3" >
		            <div class="card" style="background-color:white;">
		                <div class="card-body shadow  border boreder-dark d-flex flex-md-column justify-content-center align-items-center">
		                    <h4 class="card-title col-md-12 text-center" style="font-size: 20px;font-weight: 500;">New Customers</h4>
		                    <p class="card-text col-md-6 text-center" th:text="${recent_customers}" style="font-size: 34px;font-weight: 800;">34</p>

		                </div>
		            </div>
		        </div>

		        <div class="col-sm-4 pt-3" >
		            <div class="card" style="background-color:white;">
		                <div class="card-body shadow  border boreder-dark d-flex flex-md-column justify-content-center align-items-center">
		                    <h4 class="card-title col-md-12 text-center" style="font-size: 20px;font-weight: 500;">Blocked Customers</h4>
		                    <p class="card-text col-md-6 text-center" th:text="${blocked_customers}" style="font-size: 34px;font-weight: 800;">342</p>

		                </div>
		            </div>
				</div>

			</div>
			<div class="col border d-flex flex-md-row mt-3   shadow py-3" style="background-color: rgb(255,176,25);">
				<p class="col-md-11 m-0 pl-5 pt-2" style="font-size:28px; font-weight:800; color:#fff;" >Order Statistics</p>
				<a class="col-md-1 btn btn-dark h-100" href="/admin/orders">Manage</a>
			</div>
			<div class="row">

				<div class="col-sm-4 pt-3" >
		            <div class="card" style="background-color:white;">
		                <div class="card-body shadow  border boreder-dark d-flex flex-md-column justify-content-center align-items-center">
		                    <h4 class="card-title col-md-12 text-center" style="font-size: 20px;font-weight: 500;">Total Orders</h4>
		                    <p class="card-text col-md-6 text-center" th:text="${total_orders}" style="font-size: 34px;font-weight: 800;">345</p>
						</div>
		            </div>
				</div>


				<div class="col-sm-4 pt-3" >
					<div class="card" style="background-color:white;">
						<div class="card-body shadow  border boreder-dark d-flex flex-md-column justify-content-center align-items-center">
							<h4 class="card-title col-md-12 text-center" style="font-size: 20px;font-weight: 500;">Recent Orders</h4>
							<p class="card-text col-md-6 text-center" th:text="${recent_orders}" style="font-size: 34px;font-weight: 800;">345</p>
						</div>
					</div>
				</div>

				<div class="col-sm-4 pt-3" >
					<div class="card" style="background-color:white;">
						<div class="card-body shadow  border boreder-dark d-flex flex-md-column justify-content-center align-items-center">
							<h4 class="card-title col-md-12 text-center" style="font-size: 20px;font-weight: 500;">Returns & Cancellations</h4>
							<p  class="card-text col-md-6 text-center" th:text="${returned_canceled_orders}" style="font-size: 34px;font-weight: 800;">345</p>
						</div>
					</div>
				</div>
			</div>
			<div class="border shadow py-3 mt-2" style="background-color: rgb(0,227,150);">
				<p class="m-0 pl-5 pt-2" style="font-size:31px; font-weight:800;color:#fff;" >
					Finance Statistics</p>
			</div>

			<div class="row">
				<div class="col-sm-4 pt-3 "  >
					<div class="card" style="background-color:white;">
						<div th:if="${salesBool}" class="card-body shadow  border boreder-dark d-flex flex-md-column justify-content-center align-items-center">
							<h4 class="card-title col-md-12 text-center "  style="font-size: 20px;font-weight: 500;">Total Sales</h4>
							<p class="card-text col-md-6 text-center " th:text="${total_sales}" style="font-size: 34px;font-weight: 800;">34523</p>
						</div>
						<div th:unless="${salesBool}" class="card-body shadow  border boreder-dark d-flex flex-md-column justify-content-center align-items-center">
							<h4 class="card-title col-md-12 text-center "  style="font-size: 20px;font-weight: 500;">Total Sales</h4>
							<p class="card-text col-md-6 text-center " text="0" style="font-size: 34px;font-weight: 800;">34523</p>
						</div>
					</div>
				</div>

				<div class="col-sm-4 pt-3" >
					<div class="card" style="background-color:white;">
						<div class="card-body shadow  border boreder-dark d-flex flex-md-column justify-content-center align-items-center">
							<h4 class=" card-title col-md-12 text-center" style="font-size: 20px;font-weight: 500;"> Profit</h4>
							<p class="card-text col-md-12 text-center" th:text="${total_profit}" style="font-size: 34px;font-weight: 800;">3234345</p>
						</div>
					</div>
				</div>

				<div class="col-sm-4 pt-3" >
					<div class="card" style="background-color:white;">
						<div th:if="${salesBool}" class="card-body shadow  border boreder-dark d-flex flex-md-column justify-content-center align-items-center">
							<h4 class="card-title col-md-12 text-center" style="font-size: 20px;font-weight: 500;">Refunds</h4>
							<p class="card-text col-md-12 text-center " th:text="${total_Refunds}" style="font-size: 34px;font-weight: 800;">24345</p>
						</div>

						<div th:unless="${salesBool}" class="card-body shadow  border boreder-dark d-flex flex-md-column justify-content-center align-items-center">
							<h4 class="card-title col-md-12 text-center" style="font-size: 20px;font-weight: 500;">Refunds</h4>
							<p class="card-text col-md-12 text-center " text="0" style="font-size: 34px;font-weight: 800;">24345</p>
						</div>
					</div>
				</div>


		    </div>

			<div class="row mt-5">
				<div class="col-md-6 p-5">
						<div id="year-filter">
							<label for="year-select">Select Year:</label>
							<select id="year-select" name="year" onchange="reloadPage(this.value)">
								<!-- Year options will be added dynamically using JavaScript -->
							</select>
						</div>
					<div class="col p-2" id="chart1"></div>
				</div>


			<div class="col-md-6 p-5">
					<div class="col" id="chart2"  ></div>
				</div>


			</div>

			<div class="row">



					<div class="col-md-6 justify-content-center align-content-center" id="" >
						<p class="text-center " style="font-size:26px; font-weight:700;">Get Sales Report</p>
						<form th:action="@{/admin/filter-Sales-Report}" method="get" class=" p-2 border border-dark">
							<div class="col d-flex p-0">
								<div class="col-6 p-0 my-2 pr-1">
									<h6 class="mb-0">Start Date</h6>
									<label for="startDate"></label><input type="date" name="startDate" id="startDate" class="form-control" placeholder="start date" required>
								</div>
								<div class="col-6 p-0 my-2 pl-1	">
									<h6 class="mb-0">End Date</h6>
									<label for="endDate"></label><input type="date" name="endDate" id="endDate" class="form-control" placeholder="end date" required>
								</div>
							</div>
							<button class="btn btn-secondary my-2 w-100" >FILTER SALES REPORT</button>
						</form>



					</div>

			</div>
		</div>






 <div  th:replace="fragments/footer :: footer"></div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/js/adminPanel.js"></script>
<script>
	const yearSelect = document.getElementById('year-select');
    const currentYear = new Date().getFullYear();


    for (let year = currentYear - 5; year <= currentYear; year++) {
        const option = document.createElement('option');
        option.value = year;
        option.textContent = year;
        yearSelect.appendChild(option);
    }
</script>


</body>
</html>