<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>account</title>
    <link rel="stylesheet" href="/css/account.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <style>


        /* Style the responsive table */
table.responsive-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table.responsive-table th,
table.responsive-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

table.responsive-table th {
    background-color: #f2f2f2;
}

table.responsive-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Style the "Details" button */
.detail-button {
    background-color: rgb(177,39,4);
    color: #fff;
    border: none;
    border-radius:13px;
    padding: 5px 7px;
    cursor: pointer;
}

.detail-button:hover {
    background-color: #0056b3;
}

    </style>

</head>
<div th:replace="fragments/header::header"></div>


<body>

<div th:if="${message}">
    <div class="alert alert-success error_address" id="success_password" th:text="${message}"></div>
</div>
<div th:if="${error}">
    <div class="alert alert-warning error_message" id="error_password" th:text="${error}"></div>
</div>

<div class="alert alert-success " id="check_success" th:if="${param.check}">
    check my order
</div>
<div class="alert alert-success  "  th:if="${successProfile}">
    <h5 class="text-center" th:text="${successProfile}"></h5>
</div>
<div class="alert alert-success  "  th:if="${errorProfile}">
    <h5 class="text-center" th:text="${errorProfile}"></h5>
</div>

<div class="container light-style flex-grow-1 container-p-y-5 my-5">
    <h4 class="font-weight-bold py-3 mb-4">
        Account settings
    </h4>
    <div class="card overflow-hidden">
        <div class="row no-gutters row-bordered row-border-light">
            <div class="col-md-2 pt-0">
                <div class="list-group list-group-flush account-settings-links">
                    <a class="list-group-item list-group-item-action active" data-toggle="list"
                       href="#account-general">Profile Information</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list"
                       href="#account-change-password">Change password</a>
                    <a class="list-group-item list-group-item-action dropdown-toggle" href="#" id="addressDropdown"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manage Address
                    </a>
                    <div class="dropdown-menu" aria-labelledby="addressDropdown">
                        <a class="dropdown-item" data-toggle="list" href="#add_address">Add Address</a>
                        <a class="dropdown-item" data-toggle="list" href="#savedAdress">Saved Addresses</a>
                    </div>
                    <a class="list-group-item list-group-item-action" data-toggle="list"
                       href="#account-wallet">My Wallet</a>
                    <a class="list-group-item list-group-item-action" data-toggle="list"
                       href="#my_referrel_link">Referral Link</a>
                    <a class="list-group-item list-group-item-action"
                       href="/account/orders">My Orders</a>
                </div>
            </div>

            <div class="col-md-9">
                <div class="tab-content">
                    <!--profile section start-->
                    <div class="tab-pane fade active show" id="account-general">
                        <hr class="border-light m-0">
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-label">Full Name :</label>
                                <input type="text" class="form-control mb-1" th:value="${customer.fullName}" readonly>
                            </div>
                            <div class="form-group">
                                <label class="form-label">phone :</label>
                                <input type="text" class="form-control" th:value="${customer.phoneNumber}" readonly>
                            </div>
                            <div class="form-group">
                                <label class="form-label">E-mail</label>
                                <input type="text" class="form-control mb-1" th:value="${customer.email}" readonly>

                            </div>
                            <div class="form-group">
                                <label class="form-label">Company</label>
                                <input type="text" class="form-control" value="Pedal planet" readonly>
                            </div>
                            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#editProfileModal">
                                Edit Profile
                            </button>

                        </div>
                    </div>


                   <!--edit profile section START-->
                    <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editProfileModalLabel">Edit Profile</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <!-- Form to edit profile details -->
                                    <form action="/account/changeProfileNameAndPhoneNumber" method="post">
                                        <div class="form-group">
                                            <label for="editFullName">Full Name:</label>
                                            <input type="text" class="form-control" name="fullName" id="editFullName" th:value="${customer.fullName}"  required oninput="validateName(this)">
                                        </div>
                                        <div class="form-group">
                                            <label for="editPhone">Phone:</label>
                                            <input type="text" class="form-control" name="phoneNumber" id="editPhone" th:value="${customer.phoneNumber}" minlength="10" maxlength="10" required oninput="validateNumber(this)" >
                                        </div>

                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary" >Save Changes</button>

                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!--edit profile section END-->

                    <!--modal for changing email start-->
                    <div class="modal fade" id="forgotEmailModal" tabindex="-1" role="dialog" aria-labelledby="forgottenPasswordModalLabel" aria-hidden="true">


                        <form th:action="@{/account/forgot_email}" method="post" th:object="${customer}">


                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="">Change Email</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="form-label">We will be send otp to your New Email</p>
                                        <div class="form-group">
                                            <label for="forgotPasswordEmail">Email</label>
                                            <input type="email" class="form-control" id="emailWantToChange" name="email" placeholder="Enter your email">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Sent Link</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--modal for changing email end-->
                    <!--profile section end-->
                    <!--password changing email confirmation start-->
                    <div class="tab-pane fade " id="account-change-password">
                        <form th:action="@{/account/forgotten_password}" method="post" th:object="${customer}">
                            <div class="card-body">
                                <h4 id="passwordChanging">Change Password</h4>
                                <div class="form-group">
                                    <label class="form-label">Current password</label>
                                    <input type="password" id="currentPassword" name="currentPassword" placeholder="Enter here"
                                           class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">New password</label>
                                    <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="Enter here"
                                           required minlength="8">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Repeat new password</label>
                                    <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Enter here"
                                           class="form-control" required minlength="8">
                                </div>
                                <a class="" href="#" data-toggle="modal" data-target="#forgottenPasswordModal">forgotten
                                    Password ?</a>

                                <button type="submit" class="btn btn-primary">submit</button>
                            </div>

                        </form>
                    </div>
                    <!--password changing email confirmation end-->


                    <!-- Define the modal for forgotten password start-->
                    <div class="modal fade" id="forgottenPasswordModal" tabindex="-1" role="dialog"
                         aria-labelledby="forgottenPasswordModalLabel" aria-hidden="true">
                        <form th:action="@{/forgot_password}" method="post" th:object="${customer}">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="forgottenPasswordModalLabel">Forgotten Password</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="form-label">Enter your email to change your password</p>
                                        <div class="form-group">
                                            <label for="forgotPasswordEmail">Email</label>
                                            <input type="email" class="form-control" id="forgotPasswordEmail"
                                                   name="email" placeholder="Enter your email">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Sent Link</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Define the modal for forgotten password end-->

                    <!-- add address start-->
                    <div class="tab-pane fade" id="add_address">
                        <form th:action="@{/add_address}" method="post">
                            <div class="card-body pb-2">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">House Name</label>
                                            <input type="text" class="form-control" name="houseName"
                                                   placeholder="Enter your house name here" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Area</label>
                                            <input type="text" class="form-control" name="area" t
                                                   placeholder="Enter your area here" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Town</label>
                                            <input type="text" class="form-control" name="town"
                                                   placeholder="Enter your town here" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">City</label>
                                            <input type="text" class="form-control" name="city"
                                                   placeholder="Enter your city here" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">State</label>
                                            <input type="text" class="form-control" name="state"
                                                   placeholder="Enter your state here" required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Pin Code</label>
                                            <input type="text" class="form-control" name="pin_code"
                                                   placeholder="Enter your pin code here" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="form-label">Landmark</label>
                                            <input type="text" class="form-control" name="landMark"
                                                   placeholder="Enter your landmark here" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="border-light m-0">
                            <div class="card-body pb-2">
                                <h6 class="mb-4">Contacts</h6>
                                <div class="form-group">
                                    <label class="form-label">Phone</label>
                                    <input type="text" class="form-control" name="secondary_number"
                                           placeholder="secondary number" required>
                                </div>
                                <button type="submit" class="btn btn-primary">save</button>
                            </div>
                        </form>
                    </div>
                    <!--edit adress modal start-->
                    <div th:each="address : ${savedAddress}">

                        <div class="modal fade" th:id="'editAddressModal-' + ${address.id}" tabindex="-1" role="dialog"
                             aria-labelledby="editAddressModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <form th:action="@{/update_address/{id}(id=${address.id})}" method="post"
                                      th:object="${address}">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editAddressModalLabel">Edit Address</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <!-- Edit address modal -->
                                        <div class="modal-body">
                                            <form>
                                                <div class="row">
                                                    <!-- Left Column -->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="houseName">House Name</label>
                                                            <input type="text" class="form-control" id="houseName"
                                                                   th:value="${address.houseName}"
                                                                   placeholder="Sample House" name="houseName">
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="area">Area</label>
                                                            <input type="text" class="form-control" id="area"
                                                                   th:value="${address.area}"
                                                                   placeholder="Sample Area" name="area">
                                                        </div>

                                                        <div class="form-group">
                                                            <label for="town">Town</label>
                                                            <input type="text" class="form-control" id="town"
                                                                   th:value="${address.town}"
                                                                   placeholder="Sample Town" name="town">
                                                        </div>
                                                    </div>
                                                    <!-- Right Column -->
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="city">City</label>
                                                            <input type="text" class="form-control" id="city"
                                                                   th:value="${address.city}"
                                                                   placeholder="Sample City" name="city">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="state">State</label>
                                                            <input type="text" class="form-control" id="state"
                                                                   th:value="${address.state}"
                                                                   placeholder="Sample State" name="state">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="pin_code">Pin Code</label>
                                                            <input type="text" class="form-control" id="pin_code"
                                                                   th:value="${address.pin_code}"
                                                                   placeholder=" pin code" name="pin_code">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="landmark">Landmark</label>
                                                            <input type="text" class="form-control" id="landMark"
                                                                   th:value="${address.landMark}"
                                                                   placeholder=" your Landmark" name="landMark">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="landmark">phone number</label>
                                                            <input type="text" class="form-control"
                                                                   id="secondary_number"
                                                                   th:value="${address.secondary_number}"
                                                                   placeholder=" your Landmark" name="secondary_number">
                                                        </div>
                                                        <input type="hidden" class="form-control" id="id"
                                                               th:value="${address.id}"
                                                               placeholder="Sample House">
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                            </button>
                                            <button type="submit" class="btn btn-primary">Save Changes</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <!--edit adress modal end-->


                    <div class="tab-pane fade saved-addresses" id="savedAdress">
                       <div  class="row">
                           <a class="ml-4 btn btn-primary" data-toggle="list" href="#add_address">Add Address</a>
                       </div>
                        <!-- Address Card 1 -->
<div>
    <div class="saved-address  my-2" th:each="address : ${savedAddress}">
        <div class="address-card  border border-dark p-3">

            <div class="address-details">
                <h5 class="address-title" style="font-size:19px;" th:text="${customer.fullName}">Name</h5>

                <span class="address-line">House Name: <span class="address-data" th:text="${address.houseName}"></span></span>
                <span class="address-line">Town: <span class="address-data"  th:text="${address.town}"></span></span>
                <span class="address-line">Area: <span class="address-data"  th:text="${address.area}"></span></span>
                <span class="address-line">City: <span class="address-data"  th:text="${address.city}"></span></span>
                <span class="address-line">Landmark: <span class="address-data" th:text="${address.landMark}"></span></span>

                <span class="address-line">Pin Code: <span class="address-data" th:text="${address.pin_code}"></span></span>

                <span class="address-line">State: <span class="address-data"  th:text="${address.state}"></span></span>
                <span class="address-line">Secondary Number: <span class="address-data" th:text="${address.secondary_number}"></span></span>

                <span class="address-line">First Number: <span class="address-data" th:text="${customer.phoneNumber}"></span></span>


                <div class="col-6">
                    <input type="radio" name="defaultAddress" th:id="'defaultAddress-' + ${address.id}"
                           th:value="${address.id}" th:checked="${address.isDefault}"  onchange="setDefaultAddress(this)" />
                    <label>Set as Default</label>
                </div>
            </div>

            <a class="edit-button btn btn-primary" data-toggle="modal"
               th:attr="data-target='#editAddressModal-' + ${address.id}"
            >Edit</a>
            <a class="delete-button btn btn-warning"
               th:href="@{/delete_address/{id}(id=${address.id})}">delete</a>
        </div>
    </div>

</div>


             <div class="tab-pane fade" id="account-social-links">
                            <div class="card-body pb-2">
                                <div class="form-group">
                                    <label class="form-label">Twitter</label>
                                    <input type="text" class="form-control" value="https://twitter.com/user">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Facebook</label>
                                    <input type="text" class="form-control" value="https://www.facebook.com/user">
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Google+</label>
                                    <input type="text" class="form-control" value>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">LinkedIn</label>
                                    <input type="text" class="form-control" value>
                                </div>
                                <div class="form-group">
                                    <label class="form-label">Instagram</label>
                                    <input type="text" class="form-control" value="https://www.instagram.com/user">
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- My order section is end -->

 <!--referral link section start -->
                    <div class="tab-pane fade" id="account-wallet">
                       <div class="row  d-flex flex-column justify-content-center align-content-center text-center">


                              <h4 class="text-center wallet-text my-1">Wallet</h4>
                           <div class="col py-5 mb-2" style="background-color: #f7f7f7;">
                               <h5 class="text-center">Total Wallet Balance</h5>

                               <span class="wallet_price" th:text="${wallet != null ? '₹' + wallet.balance : '₹0'}" style="font-size:63px;"></span>

                           </div>
                           <h4 class="text-center wallet-history-text my-1">Wallet History</h4>

                           <!--table for wallet history start-->
                           <div class="col">

                               <table class="table table-striped">
                                   <thead>
                                   <tr >
                                       <th scope="col">Date</th>
                                       <th scope="col">Method</th>
                                       <th scope="col">Type</th>
                                       <th scope="col">Amount</th>
                                   </tr>
                                   </thead>
                                   <tbody>
                                   <tr th:each="history:${walletHistory}">
                                       <th th:text="${history.transaction_date}">1</th>
                                       <td th:text="${history.walletMethod}">Mark</td>
                                       <td th:text="${history.transaction}">Otto</td>
                                       <td th:text="${history.amount}">@mdo</td>
                                   </tr>

                                   </tbody>
                               </table>
                           </div>



                       </div>
                    </div>


                    <!--referral link section end -->


                    <!--referral link section start -->
                    <div class="tab-pane fade" id="my_referrel_link">
                        <div class="row  border border-bold d-flex flex-column justify-content-center align-content-center text-center">


                            <h4 class="text-center wallet-text my-1">Referral Link</h4>
                            <div class="col py-5 mb-2" style="background-color: #f7f7f7;">
                                <h5 class="text-center">Refer a friend and get ₹200</h5>

                                <span class="wallet_price" th:text="${link == 'http://pedalplanet.com/register?link=null' ? 'no referral link' : link}" style="font-size:23px; color:rgb(202,21,21);"></span>

                            </div>
                            <h4 style="font-size:14px;" class="text-center wallet-history-text my-1">Copy this link and send it to your friend. Get ₹200 on walet for both after successfull signup.</h4>

                            <!--table for wallet history start-->
                        </div>
                    </div>


                    <!--referral link section end -->
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer::footer"></div>

<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>



<script src="/js/account.js"></script>


</body>

</html>