<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="/css/userSingleOrder.css">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Using the Font Awesome CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
  <title>orderInformation</title>
</head>
<body>
<div th:replace="fragments/header::header"></div>

<div class="container">
  <h4 class="mx-3">OrderConfirmation</h4>
  <div class="border border-dark mt-4 px-3">
    <div class=" row saved-address py-2 px-2  d-flex  flex-md-row flex-column justify-content-around align-items-center "  th:each="address : ${orderAddress}">
      <div class="address-details d-flex flex-column col-12 col-md-6">
        <h3 class="">Delivery Address</h3>
        <p class="address-title" th:text="${address.customer.fullName}">Customer Name</p>
        <div class="">
          <p hidden id="addressId" th:text="${address.id}"></p>
          <span class="address-content" th:text="${address.houseName + ' ,'}"></span>

          <span class="address-content" th:text="${address.town + ' ,'}"></span>

          <span class="address-content" th:text="${address.area + ' ,'}"> </span>

          <span class="address-content" th:text="${address.city}"></span>

        </div>
        <div class="">
          <span class="address-content" th:text="${address.landMark + ' ,'}"></span>
          <span class="address-content" th:text="${address.state + ' ,'}"></span>
          <span class="address-content" th:text="${address.pin_code + ' ,'}"> </span>
        </div>
        <div class="">
          <span class="phone_number"> Secondary Phone Number : </span>
          <span class="address-content" th:text="${address.secondary_number }">
                        </span>
        </div>
        <div class="">
          <span class="phone_number" > Phone Number : </span>
          <span class="address-content" th:text="${address.customer.phoneNumber}">
                        </span>
        </div>
      </div>

      <div class="coupon-applied border border-dark py-4 text-center col-12 col-md-3 mt-2" >
        <div class="">
          <p class="coupon-applied">Coupons Used</p>
        </div>
        <div th:if="${couponApplied}">
          <p th:text="${couponName}" style="color: #b96969;font-size:16px;font-weight:700;">No coupons applied</p>
        </div>
        <div th:if="${!couponApplied}">
          <p >No coupons applied</p>
        </div>
        <div class="">
          <p class="coupon-text">Wallet amount used ₹0</p>
        </div>
      </div>

      <div class="col-12 col-md-3  text-center">
        <p style="font-size: 19px;font-weight: 400;">Order Status</p>
        <p class="" id="paymentMethod" th:text="${paymentMethod}" style="font-size: 23px;font-weight: 800;"></p>
      </div>

    </div>
  </div>

  <div class=" border border-dark mt-4">
    <div class=" row-1  orderItem py-2  d-flex  flex-md-row    flex-column justify-content-around align-items-center " th:each="orderItem : ${orderItems}">


      <div class="col-12 col-md-3">
        <img  th:src="@{/Images/product/{imagePath}(imagePath=${orderItem.variant.product.images[0].imagePath})}"
              alt="/assets/img/cart.jpg" class=" img-fluid" style="height:10rem"  >
      </div>

      <div class="m-0 col-12 col-md-6">
        <P class="product_name my-3" th:text="${#strings.abbreviate(orderItem.variant.product.name, 50)}">Product Name</P>
        <P class=" variant_name my-3" th:text="${orderItem.variant.VariantName}">Variant Name</P>
        <div>
          <span class="Quantity-text my-4">Quantity </span><span class="Quantity" th:text="${orderItem.quantity}">Quantity</span>
        </div>
        <div class="my-3" >
          <span>  </span><span class="price-text mx-1" id="offerPrice"  th:text="${total_Offer_price}"> 2799</span>
        </div>
        <div>
          <span>RS </span><span class="price-text mx-1" id="priceAfterDiscount"  th:text="${total_amount_AfterDiscount}"> 2799</span>
        </div>
      </div>

    </div>



      <div class="col-12 col-md-12 mt-4 px-2 mb-4  ">
                <button class="col-12 btn bg-success col-md-6 py-2" type="button" id="buy" style="color:#fff; font-size:23px;"  >Confirm Order</button>
        </div>
    <form th:action="@{/cancelOrder}" method="post">
      <div class="col-12 col-md-12 mt-4 px-2 mb-4  ">
        <button class=" col-12 btn bg-danger col-md-6 py-2" type="submit" id="cancelOrder" style="color:#fff; font-size:23px;"  >Cancel Order</button>
      </div>
    </form>
    </div>
  </div>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <div th:replace="fragments/footer::footer"></div>
<script src="/js/checkout.js"></script>
</body>
</html>