<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<link rel="stylesheet" href="/css/login.css">

<head>


</head>

<body class="bg-gradient-primary">
<div th:replace="fragments/header :: header"></div>



<!--    forgot Password error-->
<div th:if="${error != null}" class="forgot">
    <p class="text-danger">[[${error}]]</p>
</div>
<div th:if="${forgotmessage != null}" class="forgot">
    <p class="text-warning">[[${forgotmessage}]]</p>
</div>




<div class="container mt-5">
    <!--modal for forgotten password start-->

    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">

                <div class="card-body p-4">
                    <!-- Nested Row within Card Body -->
                    <h4 id="loginhead">Change Password</h4>
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image">
                            <img src="/homeImages/bannerPedal2.jpeg" class="ml-5 p-3 mt-5"
                                 style="width: auto; height: 300px;">
                        </div>

                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">


                                    <form th:action="@{/reset_password}" method="post">
                                        <input type="hidden" name="token" th:value="${token}"/>
                                        <div class="form-group">

                                            <input type="password" name="password"
                                                   class="form-control "
                                                   id="password" aria-describedby="emailHelp" required

                                                   placeholder="enter your new password !" minlength="8" maxlength="10">
                                        </div>

                                        <div class="form-group">
                                            <input type="password" name="confirmpassword"
                                                   class="form-control "
                                                   placeholder="Confirm your new password"
                                                   required oninput="checkPasswordMatch(this);" minlength="8" maxlength="10">


                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Change Password
                                        </button>
                                        <hr>
                                    </form>
                                    <hr>
                                    <!--<div class="text-center">
                                        <a class="small"  href="#" data-toggle="modal" data-target="#forgottenPasswordModal">forgotten Password ?</a>
                                        </a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" th:href="@{/register}" href="register.html">Create an
                                            Account!</a>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>

<div th:replace="fragments/footer::footer"></div>


<script>

    function hideCartError() {
        var cartErrorDiv = document.getElementById('cart_error');
        if (cartErrorDiv) {
            cartErrorDiv.style.display = 'none';
        }
    }
    setTimeout(hideCartError, 4000);


    function checkPasswordMatch(fieldConfirmPassword) {
    if (fieldConfirmPassword.value != $("#password").val()) {
        fieldConfirmPassword.setCustomValidity("Passwords do not match!");
    } else {
        fieldConfirmPassword.setCustomValidity("");
    }
}
</script>

</body>

</html>
