<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<title>Customer List</title>
	
</head>

<body>

	<div th:replace="fragments/AdminHeader :: AdminHeader"></div>

	   <div class="container-fluid">
    <center class="my-5">
        <h4><a style="text-decoration: none;" href="/admin/customer">Manage Users Here</a></h4>
        <form class="form-inline mt-3" th:action="@{/admin/customer/pages/1/5/search-product-result}" method="get">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <input style="max-width: 300px;" id="search" type="text" name="keyword"
                    required class="form-control" placeholder="Enter username here">
                <button class="btn btn-primary btn-success" type="submit">Search</button>
            </div>
        </form>
    </center>

    <div class="table-responsive">
        <table class="table ">
            <thead class="thead-light">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="customer : ${customers}">
                    <td th:text="${customer.id}">#</td>
                    <td th:text="${customer.fullName}">Full Name</td>
                    <td th:text="${customer.email}">Email</td>
                    <td th:text="${customer.phoneNumber}">Phone Number</td>
                    <td>
                        <a th:href="@{/admin/customer/toggle-status/{id}(id=${customer.id})}"
                            class="btn btn-sm"
                            th:classappend="${customer.isAvailable} ? 'btn-danger' : 'btn-success'"
                            onclick="return confirm('Are you sure')">
                            <span th:if="${customer.isAvailable}"><i class="fas fa-ban"></i> Block</span>
                            <span th:unless="${customer.isAvailable}"><i class="fas fa-unlock"></i> Un Block</span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

		<nav class="my-5" aria-label="Page navigation example">
            <div class="col-sm-2 page-item" th:if="${totalPages != null}">
                Total customer : [[${totalItems}]]
                <form id="pageSizeForm">
                    <label for="pageSize">Page Size:</label>
                    <select name="size" id="pageSize">
                        <option th:value="${5}">5</option>
                        <option th:value="${10}">10</option>
                        <option th:value="${25}">25</option>
                        <option th:value="${50}">50</option>
                        <option th:value="${100}">100</option>
                    </select>
                    <button type="submit" class="btn btn-primary">Apply</button>

                </form>
            </div>
            <ul class="pagination justify-content-center">
                <!--when the user tries to press the previous button after reaching 0, then the button will be disabled-->
                <li class="page-item" th:classappend="${currentPage > 1} ? '' : 'disabled'">
                    <a class="page-link" th:href="@{/admin/customer/pages/{page}(page=${currentPage - 1}, size=${size})}">Previous</a>
                </li>
                <!--to get 1, 2, 3-->
                <span th:each="i : ${#numbers.sequence(1,totalPages)}">
                    <li class="page-item" th:classappend="${i == currentPage}? 'active' : ''">
                        <a class="page-link" th:href="@{/admin/customer/pages/{page}(page=${i}, size=${size})}">[[${i}]]</a>
                    </li>
             </span>
                <!--when the user tries to press the next button after reaching the total page count, the button will be disabled-->
                <li class="page-item" th:classappend="${currentPage < totalPages} ? '' : 'disabled'">
                    <a class="page-link" th:href="@{/admin/customer/pages/{page}(page=${currentPage + 1}, size=${size})}">Next</a>
                </li>
            </ul>

        </nav>



	<div th:replace="fragments/footer::footer"></div>

	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>

    <script>
        document.getElementById("pageSizeForm").addEventListener("submit", function (e) {
            e.preventDefault();
            var pageSize = document.getElementById("pageSize").value;
            // Set the current page to 0 when changing the page size
            var currentPage = 1;
            window.location.href = "/admin/customer/pages/" + currentPage + "?size=" + pageSize;
        });
    </script>
</body>

</html>